/*************************
*      初始加载属性       *
*************************/
a {text-decoration: none}
li {list-style: none}
div, h1, h2, h3, h4, h5, h6, ul, li, a, form, p, tr, td, dl, dt, dd, body {margin: 0; padding: 0; font-size: 12px; font-family: 微软雅黑; font-weight: 200; color: rgb(0,0,0)}
input {outline:none;}
/************************
*    End 初始加载结束    *
*************************/


/*************************
*       clear属性         *
**************************/
.clear {
    clear: none;
    width: 0px;
    height: 0px;
}