/*************************
*      初始加载属性       *
*************************/
a {text-decoration: none}
li {list-style: none}
div, h1, h2, h3, h4, h5, h6, ul, li, a, form, p, tr, td, dl, dt, dd, body {margin: 0; padding: 0;}
input {outline:none;}
/************************
*    End 初始加载结束    *
*************************/


/************************
*       body属性         *
*************************/
body {
    word-wrap: break-word;
    background: white;
    padding: 0;
    background: url("/images/bg/blog_bg.jpg");
    background-size: 100%;
    height: 10000000px;
}
/*************************
*       End body属性      *
**************************/


/*************************
*         all属性         *
**************************/
.all {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
/*************************
*       End all属性       *
**************************/